{% extends 'layouts/main.html' %}

<!-- title -->
{% block title %}Fyyur | Artists{% endblock %}


<!-- content -->
{% block content %}

<button id='btn_create_venue' type="button" class="btn btn-primary">New Artist</button>

<hr>

<!--   for  -->
<ul class="items">
    {% for artist in artists %}
    <li>
        <a href="/artists/{{ artist.id }}">
            <i class="fas fa-users"></i>
            <div class="item">
                <h5>{{ artist.name }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

<!-- TODO  --->
<hr>

<h1>Implement artist availability</h1>
<h2>TODO</h2>
<p>An **artist** can **list available times** that they can be **booked**. **Restrict venues** from being able to **create shows** with **artists** during a **show time** that is outside of their **availability**.</p>

<!-- TODO  --->
<hr>

<h1>Search by City & State</h1>
<h2>TODO</h2>
<p>Searching by "San Francisco, CA" should return all artists or venues in San Francisco, CA.</p>

<script>
    document.getElementById('btn_create_venue').onclick = function() {
        window.location.href = "/artists/create";
    }
</script>
{% endblock %}