{% extends 'layouts/main.html' %}

<!--  ddd --->
{% block title %}Fyyur | Shows{% endblock %}

<!-- content -->
{% block content %}

<button id='btn_create_show' type="button" class="btn btn-primary">New Show</button>

<hr>

<!--   for  -->
<div class="row shows">
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show" style="background-color: oldlace; border-color: oldlace; padding:10pt">
            <div>
                <div style="float: left;">
                    <p style="font-size:16px;"><b>{{ show.start_time|datetime('full') }}</b>
                    </p>

                    <!--h4>{{ show.start_time|datetime('full') }}</h4-->
                </div>
                <div style="float: right;">
                    <button id='btnshow{{ show.id }}' type="button" class="btn btn-primary btn-xs">&cross;</button>
                </div>
            </div>

            <!--div style="border-left: 6px solid green; width: 100%;"></div-->
            <hr>

            <div>
                <img src="{{ show.artist_image_link }}" alt="Artist Image" />

                <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
                <p>playing at</p>
                <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    document.getElementById('btn_create_show').onclick = function() {
        window.location.href = "/shows/create";
    }

    //
    //dd = Array.from(document.querySelectorAll('*[id^="btnshow"]'));
    dd = document.querySelectorAll('*[id^="btnshow"]');
    console.log(typeof(dd));
    dd.forEach(function(btn) {
        btn.onclick = function() {
            let id = btn.getAttribute('id').substring(7, 15)
            window.location.href = "/shows/" + id + "/delete";
            //alert(btn.getAttribute('id').substring(7, 15))
        }
    })
</script>
{% endblock %}