{% extends 'layouts/main.html' %}

<!--  -->
{% block title %}Fyyur | Venues{% endblock %}

<!-- content -->
{% block content %}

<button id='btn_create_venue' type="button" class="btn btn-primary">New Venue</button>

<hr>

<!--   for  -->
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
<ul class="items">
    {% for venue in area.venues %}
    <li>
        <a href="/venues/{{ venue.id }}">
            <i class="fas fa-music"></i>
            <div class="item">
                <h5>{{ venue.name }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endfor %}

<!-- TODO  --->
<hr>

<h1>Search by City & State</h1>
<h2>TODO</h2>
<p>Searching by "San Francisco, CA" should return all artists or venues in San Francisco, CA.</p>


<!-- script -->
<script>
    document.getElementById('btn_create_venue').onclick = function() {
        window.location.href = "/venues/create";
    }
</script>

<!-- -->
{% endblock %}