{% from "layouts/macros.html" import doc_head, doc_navbar, doc_alert_messaget, doc_footer with context %}

<!--======================================================================================-->
<!doctype html>
<html>

<head> {{ doc_head() }} </head>
<!--======================================================================================-->

<body>
    <!-- Wrap all page content here -->
    <div id="wrap">
        {{ doc_navbar() }}
        <!-- Begin page content -->
        <main id="content" role="main" class="container">
            {{ doc_alert_messaget() }}
            <!--content -->
            {% block content %}{% endblock %}
        </main>
    </div>

    <!--======================================================================================-->
    {{ doc_footer() }}
    <script>
        window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')
    </script>
</body>
<!--======================================================================================-->

</html>